.App {
  text-align: center;
}

.headerTop {
  text-align: center;
  background-color: blue;
  width: 100%;
  min-height: 40vh;
  padding: 50px;
}

.centerMain {
  width: 70%;
  margin: auto;
  border: 1px black;
}

.bodyMain {
  text-align: center;

  width: 100%;
  min-height: 100vh;
  padding: 50px;
}

.input-form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

h1 {
  color: white;
}

.title-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
